// ------------------------------------
// Header
// ------------------------------------

// Background
header {
  position: relative;
  width: 100%;
  background: url('../img/header-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba($overlay-color, 0.9);
  }
}

// Navigation
header nav {
  margin-top: 2rem;

  li {
    display: inline-block;
  }

  li a {
    padding: .4rem;
    color: $white-color;
    font-weight: 200;
    text-transform: uppercase;
  }
}

// All elements inside header section
header {
  color: $white-color;

  .header-content {
    padding: 6rem 0 10rem;
  }

  .hackathon-logo {
    background: url('../img/hackathon-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 3.75rem;
    height: 4.8125rem;
    margin-bottom: 1.5rem;
  }

  .hackathon-info {
    font-size: 1.25rem;
    font-weight: 200;
    margin-bottom: .5rem;

    .hackathon-name {
      text-transform: uppercase;
    }
  }

  .line {
    width: 18rem;
    height: 1px;
    background-color: $white-color;
  }

  .header-buttons {
    display: inline-block;
    margin-top: 2rem;

    a {
      display: inline-block;
      font-size: 1.25rem;
      font-weight: 200;
      text-transform: uppercase;
      color: $orange-color;
      border: 1px solid $orange-color;
      padding: .6rem 4rem;

      &:hover {
        color: $white-color;
      }
    }

    a:last-child {
      margin-left: 1rem;
    }
  }
}

// ------------------------------------
// Facts
// ------------------------------------

section.facts {
  span {
    display: block;
    font-weight: 200;
  }

  span.title {
    text-transform: uppercase;
    color: $orange-color;
    text-decoration: underline;
    font-size: 1.125rem;
    margin-bottom: .5rem;
  }

}


// ------------------------------------
// Photo Block
// ------------------------------------

section.photo-block {
  padding: 0;

  img.main-photo {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}


// ------------------------------------
// FAQ
// ------------------------------------

section.faq {
  ul.questions {
    list-style: none;
  }

  li.questions__question {
    margin-bottom: 3rem;

    div.text {
      font-weight: 200;
    }
  }

  a.more-questions-link {
    display: block;
    margin-top: 1.5rem;
  }
}


// ------------------------------------
// Application
// ------------------------------------

section.application {
  background-color: $overlay-color;

  h2, p {
    color: $white-color;
  }

  p {
    margin-bottom: 4rem;
  }

  form {
    input {
      display: block;
      width: 100%;
      height: 2.5rem;
    }

    input[type="text"] {
      border: none;
      padding-left: 1rem;
      font-size: 1rem;
      font-weight: 200;

      &::-webkit-input-placeholder { /* WebKit browsers */
        font-family: $main-font-stack;
        font-weight: 200;
      }

      &:-moz-placeholder { /* WebKit browsers */
        font-family: $main-font-stack;
        font-weight: 200;
      }

      &::-moz-placeholder { /* WebKit browsers */
        font-family: $main-font-stack;
        font-weight: 200;
      }

      &:-ms-input-placeholder { /* WebKit browsers */
        font-family: $main-font-stack;
        font-weight: 200;
      }

      
    }

    input[type="submit"] {
      font-size: 1rem;
      font-weight: 200;
      font-family: $main-font-stack;
      border: 1px solid $white-color;
      color: $white-color;
      text-transform: uppercase;
      background: none;
    }
  }

}


// ------------------------------------
// Organizers
// ------------------------------------

section.organizers {
  padding-top: 0;

  div.organizer-logo img {
    display: block;
    max-height: 5rem;
    margin: 0 auto;

    &.builds-logo {
      max-height: 4rem;
    }
  }
}









